.video_style_page  h1.heading-bg{
	 color: #000000;
	 font: bold 26px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
	 padding-bottom: 5px;
	 padding-left: 10px;
	 padding-right:10px;
}

.video_style_page .submitted{
    padding-left: 10px;
    font-size: 14px;
}

.video_style_page .submitted a{
    font-weight:bold;
}

.video_style_page .group-citation-information {
    margin-top: 30px !important;
}
.seeAllPages  .videoBlocks .userReviews{
  padding-top: 5px;
}

.seeAllPages .videoBlocks .author span.discipValue{ color:#333}

.embeded .videoBlocks .userReviews span.discipValue,
.embeded .AudioBlocks .userReviews span.discipValue{font-size:12px; color:#000}

/*Video Block*/
.videoImg{ width:120px; height:auto; float:left}
#sidebar-right .videoBlocks .videoImg{ width:90px}

.videoBlocks .details{overflow:hidden; padding-left:10px }

.videoBlocks .rowBlock  h3, .videoBlocks  h3{
  font: bold 14px/17px Arial,Helvetica,sans-serif;
	margin-bottom:4px;
}


.videoBlocks p{ font:12px Tahoma,Verdana,Arial}


.videoBlocks .author, .videoBlocks .date,
.AudioBlocks .author, .AudioBlocks .date{color:#333; font:11px Tahoma,Verdana,Arial; display:inline}

.videoBlocks .date .discipValue,
.AudioBlocks .date .discipValue{ color:#3f3f3f}



.booksBlocks, .bookReviewDetail {
    margin: 0 -10px;
}

.seeAllPages .videoBlocks .details{ overflow:hidden; padding-left:10px}
.seeAllPages .videoBlocks .rowBlock{border-top:none}


/*Video Blocks SA*/
.seeAllPages #sidebar-right .videoBlocks .videoImg{width:89px; height:auto}
.seeAllPages #sidebar-right .videoBlocks .videoImg img{ width:89px; height:auto }
.seeAllPages #sidebar-right .videoBlocks .details{ margin-left:0 !important; overflow:hidden;}
.seeAllPages #sidebar-right .videoBlocks span.label{ font-weight:normal}

.blmiddletab, #quicktabs-allvideos{
    margin: 10px -10px 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 12px;
}



#block-quicktabs-allvideos .quicktabs_main{
    border: none;
}


#quicktabs_container_allvideos .videoBlocks .details h3{
    margin-top: -2px;
}

#block-quicktabs-allvideos .rowBlock.last{
    margin: 0 -11px;
    padding: 10px;
}



#block-block-16 a.version{
    font-size: 12px;
    font-weight: bold;
}
#block-block-16 span.update{
    color: #3B5998;
}

#contentVideo .title{ 
    font-weight: bold; margin: 5px 0;
    color: #2D2D2D;
}
.uploadcourseVideo{
    overflow: hidden; margin: 12px 0 17px;
}
.blCourseVideo .field-label{
    color: #333;
}
.blCourseVideo .field-label .imgcourse{
    float: left;
    margin-right: 10px;
    max-width: 110px;
}
.blCourseVideo .field-label label, .blCourseVideo .field-label a{
  font-weight: bold;
}
.videoBlocks  .userReviews span.duration{
    color: #333;
    padding-right: 7px;
}

.emvideo, .emImages, .emImages2{padding:10px 0}
.emImages embed{ width:100%}
.emvideo{ text-align:center}
.emImages img{ height:auto !important}
.emImages2{ text-align:center}
.emImages2 img{
    display: block;
    height: auto !important;
    width: 100%;
    margin: 0 auto;
}
.titleAud{color:#2F487A;font:bold 14px Arial,Helvetica,sans-serif;text-decoration:none;}
.byAud{ color:#333; padding-bottom:8px}

.embeded .rowBlock{ 
	background:#E7EEF0; 
	border-bottom:1px solid #d9d9d9; 
	padding:10px 0; 
	clear:both
}

.embeded .rowBlock form.fivestar-widget{ margin-top:-2px; margin-left:8px}
.embeded .rowBlock .userReviews .fieldDiscip{ padding-right:8px}
.embeded .rowBlock .userReviews span.label{ 
	color:#000; 
	font-size:12px;
	font-weight:bold;
}

.embeded .rowBlock .userReviews .discipValue{ 
	font-size:12px; 
	color:#000; 
	font-weight:bold;
}

.uploadImgDetail{
    clear: both;
    margin: 15px 0 3px;
    overflow: hidden;
}

#upload_block .uploadImgDetail{
	clear: both;
    margin: 15px 0;
    overflow: hidden;
}

.blCourseVideo .uploadImgDetail{
  margin: 15px 0;
}

.uploadImgDetail a{background:url("images/Upload-video.png") no-repeat scroll 0 0 transparent;cursor:pointer;display:block;float:left; width: 146px; height:32px;   text-indent: -9999px;}
.uploadImgDetail a:hover { background-position: -146px 0;}



.uploadcourseVideo a{background:url("images/start-a-course.png") no-repeat scroll 0 0 transparent;cursor:pointer;display:block;float:left; width: 151px; height:32px;   text-indent: -9999px;}
.uploadcourseVideo a:hover { background-position: 0 -32px;}

span.recent_comments {
	color: #333333;
    font-size: 19px;
    padding-right: 8px;
    font-weight: bold;
 }
